prop_type: normal-new

old_law: None

new_law: ./house-spec.pod

reason: To maximise housing flexibility while preventing dangerous constructions with reference to the geography of the XXX municipality.

pros: Given 3D printing and other construction technologies, this law enables aggresive construction methodology.

cons: Harder evaluation of real-estate value. Possibly those constructions spread fire in the city.

approximate_cost: Announcing, printing, and administrative effort of regulation.

budget_required: {{ 3,000,000,000yen per year }} for {{ Administration_of_HouseSpec }}
