prop_type: normal

old_law: flower-spec

new_law: ./flower-spec.pod

reason: To make flower delivery efficient

pros: Cheaper delivery cost

cons: Worse appealance of tulip

approximate_cost: Announcing, printing, case re-manufacturing, and operation updating.

budget_required: {{ 3,000,000 per year }} for {{ Administration_of_FlowerSpec }}
