prop_type: heavy

value: 400,000,000,000,000yen

reason: To manage this high price level by issueing reserve currency in the currency smart contract.

pros: We can manage price level and get a lot of public fund.

cons: Hyper inflation.

approximate_cost: Announcing, printing.

budget_required: None